.loader{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content:  "";
    width: 110px;
    background-image: url("assets/logo_cam_sciece.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
    border: 15px  solid rgb(44, 46, 44);
    border-top-color: rgb(41, 211, 15);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;

}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}